* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url('background.jpg');
  color: #eee;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-image: inset;
  border-color: red;
}

#message {
  margin: auto;
  margin-top: 48px;
}

.greeting {
  font-family: 'Comic Sans MS';
  color: violet;
  background: cyan;
  border-radius: 60%;
  border: 5px red dashed;
  padding: 50px;
  font-size: 28px;
  text-align: center;
}

#message .instructions {
  font-size: 16px;
  background: yellow;
  color: blue;
  font-family: 'Comic Sans MS' !important;
}
#one {
  background: greenyellow;
}

#two {
  background: hotpink
}
#board {
  width: 480px;
  height: 480px;

  flex-shrink: 0;

  background: url('donky.gif');
  background-size: cover;
  border: 12px solid hotpink;

  margin: 48px auto 0;

  display: flex;
  flex-direction: column;
}

#board .row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#board .row:not(:last-child) {
  border-bottom: 5px solid limegreen;
}

#board .column {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#board .column>span {
  color: white;
  font-size: 48px;
  font-family: 'Comic Sans MS';
}

#board .column:not(:last-child) {
  border-right: 5px solid skyblue;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

#controls button {
  background: red;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 24px;
  padding: 6px;
  transition: top 2s;
}

#controls button:hover {
  background-color: green;
}

#controls button:not(:last-child) {
  margin-right: 24px;
}

footer {
  position: relative;
}

#flash {
  position: fixed;
  top: -100%;
}

.drop {
  top: 0 !important;
  transition-duration: 1s;
}

#clippy {
  background: white;
  position: fixed;
  bottom: -331px;
}

#clippy div {
  font-family: 'Comic Sans MS';
  color: white;
  background: red;
}

.lift {
  bottom: 0 !important;
  transition-duration: 2s
}

#victory {
  color: #fff;
  background: lime;
  font-family: 'Comic Sans MS';
  text-align: center;
  margin: auto;
}